{% import _self as macros %}

{% set scope = {
    menu: [
        {
            url: '/',
            title: 'Реализованные проекты',
        },
        {
            url: '/',
            title: 'Новости',
        },
        {
            url: '/',
            title: 'Контакты',
        },
    ],
    phone: '8 (800) 555-35-35',
} %}

{% macro content(scope) %}
    <div class="Container Header">
        <div class="Header__logo">
            {{ macros.logo }}
        </div>

        <nav class="Header__nav">
            {% include "@components/site-nav/site-nav.twig" with {
                items: scope.menu,
            } %}
        </nav>

        <div class="Header__phone">
            {{ macros.phone(scope.phone) }}
        </div>

        
        <div class="Header__feedbackButton">
            {{ macros.button }}
        </div>

        <div class="Header__offCanvasButton">
            {{ macros.offCanvasButton }}
        </div>
    </div>
    {{ macros.offCanvas(scope) }}
{% endmacro %}

{{ macros.content(scope) }}

{% macro logo() %}
    <a href="{{ route('home') }}">
        <img
            src="{{ 'assets/images/logo.svg' }}"
            alt="Cottage"
         >
    </a>
{% endmacro %} 

{% macro phone(phone) %}
    {% set phone = phone ?? '' %}
    <a href="tel:{{ phone }}" class="PrimaryPhone">
        <img 
            src="{{ 'assets/icons/phone-green.svg' }}"
            alt="Phone icon"
         >
    </a>
    {{ phone }}
{% endmacro %}

{% macro button() %}
    <button type="button" class="Button Button--primary">
        Оставить заявку
    </button>
{% endmacro %}

{% macro offCanvasButton() %}
    <button
        uk-toggle="target: #offcanvas"
        type="button"
        class="Button Button--primary Button--icon"
    >
        <img 
                src="{{ 'assets/icons/list-white.png' }}"
                alt="List icon" width="24" height="14"
        >
    </button>
{% endmacro %}
{% macro offCanvas(scope) %}
    <div id="offcanvas" uk-offcanvas="overlay: true; flip: true;" class="OffCanvas">
        <div class="uk-offcanvas-bar OffCanvas__layout">
            <button
                class="uk-offcanvas-close Button OffCanvas__close"
                type="button"
                
            >
                <img
                    src="{{ 'assets/icons/cross-white.svg' }}"
                    alt="Cross icon" width="12" height="12"
                >
            </button>

            <nav class="OffCanvas__nav">
            {% include '@components/site-nav/site-nav.twig' with {
                items: scope.menu,
                column: true,
                white: true,
            } %}
            </nav>

            <div class="OffCanvas__contacts">
                {% include '@components/contacts/contacts.twig' %}
            </div>
        </div>
    </div>
{% endmacro %}