{% import _self as macros %}

{% set scope = {
    menu: [
        {
            url: '/',
            title: 'Реализованные проекты',
        },
        {
            url: '/',
            title: 'Новости',
        },
        {
            url: '/',
            title: 'Контакты',
        },
    ],
    phone: '8 (800) 555-35-35',
} %}

{% macro content(scope) %}
    <div class="Container Header">
        <div class="Header__logo">
            {{ macros.logo }}
        </div>

        {% include "@components/site-nav/site-nav.twig" with {
            items: scope.menu,
        } %}

        <div class="Header__phone">
            {{ macros.phone(scope.phone) }}
        </div>

        {{ macros.button }}
    </div>
{% endmacro %}

{{ macros.content(scope) }}

{% macro logo() %}
    <a href="{{ route('home') }}">
        <img
            src="{{ 'assets/images/logo.svg' }}"
            alt="Загородный дом"
         >
    </a>
{% endmacro %} 

{% macro phone(phone) %}
    {% set phone = phone ?? '' %}
    <a href="tel:{{ phone }}" class="PrimaryPhone">
        <img 
            src="{{ 'assets/images/phone.svg' }}"
            alt="Телефон"
         >
    </a>
    {{ phone }}
{% endmacro %}

{% macro button() %}
    <button type="button" class="Button Button--primary">
        Оставить заявку
    </button>
{% endmacro %}